:root {
    --primary-color: #395e66;
    --secondary-color: #55d6be;
    --tertiary-color: #Acfcd9; 
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding:50px
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, Sans-serif; 
}

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* header section */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header a {
    text-decoration: none;
    color:var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/*footer section */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30p;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

/*hero section */
.hero {
    background-image: url("../portfolio/assets/images/header.jfif");
    background-size: 54%;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-cta {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    color: var(--tertiary-color);
    font-size: 18px;
    line-height: 1.2;
}

/* bio section */
.bio {
    background: var(--primary-color);
}

.bio img {
    border-radius: 15px;
    max-width: 100%;
}

.bio p {
    padding:25px;
}

.about-me {
    display:flex;
    align-items: center;
    margin: 10 auto;
}

/* projects section */
.work {
    background-color:var(--secondary-color)
}

.projects img {
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}



/* contact section */
.contact {
    background-color: var(--secondary-color);
}

.contact li {
    list-style:none;
    padding: 10px;
    justify-content: space-between;
}


.section-title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto 35px auto;
    width: 50%;
    border-bottom: 3px solid;   
}